.km-content {
    background: #c81648;
    background: -moz-linear-gradient(top,  #c81648 0%, #ab0534 100%);
    background: -webkit-linear-gradient(top,  #c81648 0%,#ab0534 100%);
    background: linear-gradient(to bottom,  #c81648 0%,#ab0534 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c81648', endColorstr='#ab0534',GradientType=0 );
}

#tpForm {    
    height:100vh;
    width: 100vw;
    position: fixed;
}
.inputFields {
    background-color: #ab0534;
    border-radius:20px;
    border-color: #ab0534;
    width: 70%;
    height: 40px;
    margin-left: 15%;
    margin-top: -10px;
    color: #e5e5e5;
    padding-left: 10px;
}

.inputHeaders {
    padding-left: 15%;
    color: #e5e5e5;   
}

.km-flat .button-group .km-button.primary {
    background-color: #86c5da;
    border-radius:20px; 
    border-color: #ab0534;
    color: #e5e5e5;
    width: 10%;
    height: 40px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px; 
}

#footerLink {     
    text-align: center;
}

#contactLink {
    text-align: center; 
}

#contactPage {
    text-align: center;
}

#contactPage li {
    list-style-type: none;
}
.backButton {
    width: 80%;
    border-radius:20px !important;
    background-color: #86c5da !important; 
}

