<div data-role="view" data-title="Napthens Notifications" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div id="homeModel" class="form-view">
       
         <form id="tpForm" name="formvar" action="" method="post" target="touchPointFrame" >
            <input id="userID" type="text" name="userID" value="qatesting331" />
            <input id="site" type="text" name="siteID" value="qatesting331" />
            <input id="username" type="text" name="userName" value="pitest" />
            <input id="password" type="text" name="password" value="pitest" />
              <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.submit }">Go for it!</a>
            </div>
        </form>
        
        <iframe id="iframeContainer" src="" onload="this.width=screen.width;this.height=screen.height;" style="display:none;" name="touchPointFrame">
        


        <!-- START_CUSTOM_CODE_homeModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_homeModel -->
    </div>

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>