<div id="content" data-role="view" data-title="Napthens Notifications" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow"
    data-after-show="app.home.afterShow">
    <div id="homeModel" class="form-view">
        <!--<form id="tpForm" name="formvar" method="post" action="http://localhost:4550/qatesting331" target="iframeContainer" enctype="multipart/form-data">-->
        <form id="tpForm" name="formvar" method="post" action="https://demo.eclipsetouchpoint.co.uk/notifications" target="iframeContainer" enctype="multipart/form-data">
            <img class="logo" src="./images/cameleon-logo.png" ></img>
            <div class="logoTitle">
                <p class="logoTitleLines">Chameleon</p>
                <p>Solicitors</p>
            </div>


            <div class="Middle-info">
            <input id="userID" type="hidden" name="userID" value="" />
            <input id="site" type="hidden" name="siteID" value=""/>

            <p class="inputHeaders">Username</p>
            <input class="inputFields" id="username" type="text" name="userName" value="" />

            <p class="inputHeaders">Password</p>  
            <input class="inputFields" id="password" type="password" name="password" value="" />

            <div id="submitButton" class="button-group"> <a class="primary" data-role="button" data-bind="events: { click: homeModel.submit }">LOGIN</a> </div>
            </div>


            <a id="contactLink" data-role="footer" data-position="fixed" href="#contactPage">Don't have an account yet? <br/><span>Sign Up...</span></a>            
        </form>
        <div class="tpView">
            <iframe id="tpFrame" name="iframeContainer" scrolling="yes" style="border: 0; width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch;" frameBorder="0">Your browser doesn't support iFrames.</iframe>
            <!--
            <div id="navBottom">
                <a id="clearLink" data-role="button" href="#content" data-bind="events: { click: homeModel.clear }"><p>BACK</p></a>
            </div>
            -->
        </div>

    </div>
</div>

<!-- Contact information page-->
<div data-role="view" id="contactPage">
        <div id="homeModel" class="form-view">
        <form id="tpForm" name="formvar" method="post"  target="iframeContainer" enctype="multipart/form-data">
    <img class="logo" src="./images/cameleon-logo.png"></img>
    <div class="logoTitle">
        <p class="logoTitleLines">Chameleon</p>
        <p>Solicitors</p>
    </div>
    <div class="contact-info">
        <p>To have access to TouchPoint Notifications </p>
        <p>please contact Eclipse Legal Systems on</p>
        <p>01274 704100</p>
    </div>
    <div id="backButton" class="button-group"> <a class="primary" data-role="button" href="#content">BACK</a> </div>
    </form>
    </div>
</div>
